.CodeEditor {
  display: block;
  width: var(--terminal--width);
  height: var(--terminal--height);
  overflow: hidden;
  border-radius: var(--radius--2);

  background-color: var(--white--400);
  box-shadow: var(--shadow--normal);
}

.CodeEditor__tabs {
  display: flex;
  font-family: var(--font--monospaced);
  font-weight: 500;
  overflow-x: auto;
  background-color: var(--white--800);
  min-height: var(--space--9);
  user-select: none;
}

.CodeEditor__tabs::-webkit-scrollbar {
  display: none;
}

.CodeEditor__tab {
  min-width: 100px;
  background-color: var(--white--700);
  color: var(--black-500);
  padding: var(--space--3) var(--space--2);
  cursor: pointer;
}

.CodeEditor__tab:has(:checked) {
  background-color: var(--primary--500);
  color: var(--primary--900);
}

.CodeEditor__content {
  color: var(--black--900);
  font-family: var(--font--monospaced);
  font-size: var(--monospaced--bold);
  counter-reset: lineOfCode 0;
  padding: var(--space--4) var(--space--7);
}

.CodeEditor__content-text--light {
  color: var(--black--500);
}

.CodeEditor__content-item {
    counter-increment: lineOfCode +1;
}

.CodeEditor__content-item::marker {
  color: var(--black--500);
  content: counter(lineOfCode) " ";
}
