.Terminal {
  background-color: var(--white--500);
  font-family: var(--monospaced---bold);
  font-weight: bold;
  font-size: var(--body--small);
  color: var(--black--900);
  box-shadow: var(--shadow--normal);
  width: 100%;
  border-radius: var(--radius--2);
  overflow: hidden;
}

.TerminalHeader {
    background-color: var(--white--800);
    font-size: var(--body--small);
    text-align: center;
    width: 100%;
    font-weight: 600;
    padding: var(--space--2) 0;
    
}
