.Layout {
  max-width: 1300px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: var(--white--500);
  padding: 0 var(--space--4);

  --navbar-height: 5rem;
}
